<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录</title>
    <link rel="stylesheet" type="text/css" href="/media/css/newStyle.css">
    <style>
        a{text-decoration: none;}
      body{
    background: url("/media/img/11.jpg") no-repeat;
    background-size:100% ;
}
.box{
    width: 550px;
    height: 280px;
    background: rgba(220, 233, 252, 0.8);
    margin: 200px auto;
    padding: 20px;
    position: relative;top: 20px;
}
.box form input{
    width: 300px;
    height: 40px;
    margin: 10px;
}
    </style>
</head>
<body>
    <div class="box">
       <h3 style="position: relative;left: 150px">用户登录/User login</h3>
        <form method="post" enctype=" multipart/form-data" style="position: relative;left: 100px">
            <input type="text" placeholder="请输入学号" name="xuehao" >
            <input type="password" placeholder="请输入密码" name="mima" >
            <input type="submit" name="news" value="登录" style=" font-size:20px;background-color: #537fce;position: relative;top: 20px;border: none">
            <input type="checkbox"  style="position: relative;left: -320px;top: -15px;width: 22px;height: 22px;background-color:white ">
            <span style="position: relative ;left: -327px;top: -20px;">记住密码</span>
        </form>
        <a href="zhuce" style="position: relative;left: 450px;top: 10px">注册</a>
    </div>
</body>
</html>


